#row{
    font-size:20px ;
}

#click-me{
    font-weight:normal;
}

#name{
    font-weight: normal;
}

#role{
    font-weight:normal;
}

#start-date{
    font-weight: normal;
}

#monthly-rate{
    font-weight:normal;
}